<footer>
    <div class="footer-main">
    <div class="footer-links">
        <div class="footer-links-column">
            <ul>
                <h3>Account</h3>
                <% if user_signed_in?%>
                    <li><%= link_to "Log out", destroy_user_session_path %></li>
                    <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <% else %>
                    <li><%= link_to "Log in", new_user_session_path %></li>
                    <li><%= link_to "Sign up", new_user_registration_path %></li>
                <% end %>
            </ul>
        </div>
        <div class="footer-links-column">
            <ul>
                <h3>Pages</h3>
                <% if user_signed_in?%>
                    <li><%= link_to "Browse", browse_path%></li>
                    <li><%= link_to "Wallet", wallet_path%></li>
                    <li><%= link_to "Host", host_path%></li>
                    <li><%= link_to "Calendar", calendar_path%></li>
                    <li><%= link_to "Help", help_path%></li>
                <% else %>
                    <li><%= link_to "Browse", browse_path%></li>
                    <li><%= link_to "About", about_path%></li>
                    <li><%= link_to "Help", help_path%></li>
                <% end %>
            </ul>
        </div>
        <div class="footer-links-column">
            <ul>
                <h3>Legal Stuff</h3>
                <li><%= link_to "Terms of Use", root_path%></li>
                <li><%= link_to "Terms of Sale", root_path%></li>
                <li><%= link_to "Privacy Policy", root_path%></li>
            </ul>
        </div>
    </div>
    <div class="footer-icons"></div>
    <div class="footer-copyright"></div>
    </div>
</footer>