<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field f2">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field f2">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field f2">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field f2">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field f2">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field f1">
    <%= form.label :venue %>
    <%= form.text_field :venue %>
  </div>

  <div class="field checkbox-field">
    <%= form.label :private %>
    <%= form.check_box :private %>
  </div>

  <div class="field f1">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="field f2">
    <%= form.label :event_image %>
    <%= form.file_field :event_image, accept: "image/png,image/jpg,image/jpeg" %>
  </div>

  <div class="field f1">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field f1">
    <%= form.label :category_id %>
    <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}%>
  </div>

  <div class="field f1">
    <%= form.label :sub_category %>
    <%= form.text_field :sub_category %>
  </div>

  <div class="actions">
    <%= form.submit class: "action-button submit-button" %>
  </div>
<% end %>

  <script>
      (function() {
    var widget, initAddressFinder = function() {
        widget = new AddressFinder.Widget(
            document.getElementById('address_line_1'),
            'N7HCYXEQGD6ALTWM34RP',
            'AU', {
                "address_params": {
                    "gnaf": "1"
                },
                "show_locations": true,
                "location_params": {
                    "location_types": "street, locality, state"
                }
            }
        );

        widget.on('address:select', function(fullAddress, metaData) {
            // TODO - You will need to update these ids to match those in your form
            document.getElementById('address_line_1').value = metaData.address_line_1;
            document.getElementById('address_line_2').value = metaData.address_line_2;
            document.getElementById('address_suburb').value = metaData.locality_name;
            document.getElementById('address_state').value = metaData.state_territory;
            document.getElementById('address_postcode').value = metaData.postcode;

        });


        widget.on('location:select', function(fullLocation, metaData) {
            /* TODO - You will need to update these ids to match those in your form and
             * include the location attributes you wish to collect.
             */
            document.getElementById('address_line_1').value = "";
            document.getElementById('address_line_2').value = "";
            document.getElementById('address_suburb').value = metaData.suburb;
            document.getElementById('address_state').value = metaData.state_territory;
            document.getElementById('address_postcode').value = "";

        });

    };

    function downloadAddressFinder() {
        var script = document.createElement('script');
        script.src = 'https://api.addressfinder.io/assets/v3/widget.js';
        script.async = true;
        script.onload = initAddressFinder;
        document.body.appendChild(script);
    };

    document.addEventListener('DOMContentLoaded', downloadAddressFinder);
})();
    </script>