<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field f2">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field f2">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field f2">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field f2">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field f2">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1 %>
  </div>

  <div class="field f2">
    <%= form.label :address_line_2 %>
    <%= form.text_field :address_line_2 %>
  </div>

  <div class="field f1">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field f1">
    <%= form.label :state %>
    <%= form.select :state, options_for_select(
      [
      ["ACT", "Australian Capital Territory"],  
      ["NSW", "New South Wales"],
      ["NT", "Northern Territory"],
      ["QLD", "Queensland"],
      ["SA", "South Australia"],
      ["TAS","Tasmania"],
      ["VIC","Victoria"],
      ["WA","Western Australia"]],
      selected: event.state ? event.state : nil) %>
  </div>

  <div class="field f1">
    <%= form.label :venue %>
    <%= form.text_field :venue %>
  </div>

  <div class="field checkbox-field">
    <%= form.label :private %>
    <%= form.check_box :private %>
  </div>

  <div class="field f1">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="field f2">
    <%= form.label :event_image %>
    <%= form.file_field :event_image, accept: "image/png,image/jpg,image/jpeg" %>
  </div>

  <div class="field f1">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field f1">
    <%= form.label :category_id %>
    <%= form.select :category_id, @categories.map {|c| [c.name, c.id]}%>
  </div>

  <div class="field f1">
    <%= form.label :sub_category %>
    <%= form.text_field :sub_category %>
  </div>

  <div class="actions">
    <%= form.submit class: "action-button submit-button" %>
  </div>
<% end %>