<p id="notice"><%= notice %></p>

<div class="hero_image">
  <% if @event.event_image.attached? %>
    <%= image_tag @event.event_image, alt:@event.title %>
  <% end %>
<div>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Private:</strong>
  <%= @event.private %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @statuses.key(@event.event_status) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @categories[@event.category_id - 1].name %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @event.sub_category %>
</p>

<%= button_to "Book Ticket", book_ticket_path %>

<% if user_signed_in? && current_user.id == @event.user_id %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
