<p id="notice"><%= notice %></p>

<div class="event-header">
  <h1 class="event-title"><%= @event.title %></h1>
  <div class="category-column">
    <p class="event-category">
      <%= @categories[@event.category_id - 1].name %>
    </p>
    <p class="event-sub-category">
      <%= @event.sub_category %>
    </p>
  </div>
</div>

<div class="hero_image" 
  <% if @event.event_image.attached? %>
    style="background-image: url(<%=url_for(@event.event_image)%>)"
  <%end%>>
</div>
<p class="start_date">
  <%="#{time_formatter(@hourstring, @minutestring, @meridianstring)}, 
  #{@daystring} 
  #{date_suffix(@datestring)} 
  #{@monthstring}"%>
</p>

<div class="book-or-buy">
  <% if @event.price > 0 %>
    <button data-stripe="payment" class="submit-button action-button ticket-button">Buy Ticket</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout ({
          sessionId: "<%= @session_id %>"
        });
      });
    </script>
    <p class="event-price">
      <strong>$<%= @event.price%>.00</strong>
      <span class="bf-string">+ Booking Fee</span>
    </p>
  <% else %>
    <%= button_to "Book Ticket", book_ticket_path, class: "submit-button action-button no-form ticket-button" %>
    <p class="event-price"><strong>Free event</strong></p>
  <% end %>
</div>


<p class="event-description">
  <%= @event.description %>
</p>

<p class="promoter-link">
</p>
<p class="venue-link">
</p>

<p class=event-venue>
  <%= @event.venue %>
</p>

<p class="event-address">
  <%= @event.address %>
</p>

<%= image_tag google(center: [model_name.latitude, model_name.longitude].join(','))%>

<% if user_signed_in? && current_user.id == @event.user_id %>
  <%= link_to 'Edit', edit_event_path(@event), class:"action-button admin-button" %>
<% end %>