<h1>Calendar</h1>

<% (1..12).each_with_index do |month, i|%>
    <% month_i =  @current_month + (i - 1) >= 12 ? @current_month + (i - 1) - 12 : @current_month + (i - 1) %>
    <details <%= "disabled" if @event_months[month_i].length > 0%>>
        <summary <%if @event_months[month_i].length > 0%> style="background-color:#19FF83"; <% end %>>
            <%= @months[month_i] %>
        </summary>

        <% if @event_months[month_i].length > 0 %>
            <% @event_months[month_i].each do |event| %>
                <div class="calendar-event-card"
                    <% if event.event_image.attached? %>
                        style="background-image: url(<%=url_for(event.event_image)%>)"
                    <%end%>>
                    <span class="calendar-event-date"><%= event.start_date.strftime("%a %d %b")%></span>
                    <span class="calendar-event-title"><%= event.title %>
                        <%= link_to "Info", event_path(event.id), class:"mini-action-button"%>
                    </span>
                </div>
            <% end %>
        <% else %>
            <span class="calendar-no-events">No events booked for <%= @months[month_i]%></span>
        <%end%>
    </details>
<% end %>
