<h1>Calendar</h1>

<section class="event-calendar">
<% (1..12).each_with_index do |month, i|%>
    <% month_i =  @current_month + (i) >= 12 ? @current_month + (i) - 12 : @current_month + (i) %>
    <details <%= "open" if i == 0%>>
        <summary <%if @event_months[month_i].length > 0%> style="background-color:#19FF83"; <% end %>>
            <%= @months[month_i] %>
            <span><%= "(current month)" if i == 0 %></span>
            <span><%= @current_month + (i) >= 12 ? "#{@next_year}" : nil%></span>
        </summary>

        <% if @event_months[month_i].length > 0 %>
            <% @event_months[month_i].each do |event| %>
                <div class="calendar-event-card"
                    <% if event.event_image.attached? %>
                        style="background-image: url(<%=url_for(event.event_image.variant(resize_to_limit: [600, nil]))%>)"
                    <%end%>>
                    <span class="calendar-event-date"><%= event.start_date.strftime("%a %d %b")%></span>
                    <span class="calendar-event-title"><a href="<%=event_path(event.id)%>"><%= event.title %></a>
                        <%= link_to "Info", event_path(event.id), class:"mini-action-button"%>
                    </span>
                </div>
            <% end %>
        <% else %>
            <%if i == 0 %>
                <span class="calendar-no-events">No more events this month</span>
            <% else %>
                <span class="calendar-no-events">No events booked for <%= @months[month_i]%></span>
            <% end %>
        <%end%>
    </details>
<% end %>
</section>
