
<% if @ticket != nil %>
    <p><%= @validation_message %></p>
    <p>Event: <%= @ticket_event.title %></p>
    <p>Ticket Holder: <%= @ticket_holder.first_name %> <%= @ticket_holder.last_name %></p>
    <p>Is a Minor: <%= @is_minor %> </p>
    <br><br>
    <p>Price: <%= @ticket_event.price %> </p>
    <p>Seller: <%= @ticket_seller.first_name %> <%= @ticket_seller.last_name %></p>

<% else %>
    <h1>This is an Invalid Ticket!</h1>
<% end %>