
<p><%= @validation_message %></p>
<p>Event: <%= @ticket_event.title %></p>
<p>Ticket Holder: <%= @ticket_holder_name %></p>
<p>Is a Minor: <%= @is_minor %> </p>
<br><br>
<p>Price: <%= @ticket_event.price %> </p>
<p>Seller: <%= @ticket_seller_name %></p>

