<h1>Wallet</h1>


<h2>Scheduled / In-Progress</h2>
    <% if current_user.bought_tickets.exists?%>
            <% @tickets.each_with_index do |ticket, i| %>
                <%  @event = Event.find(ticket.event_id) %>
                    <div class="ticket-card">
                        <%# <a href="<%= event_path(ticket.event_id)%>
                            <div class="ticket-card-header"  style="background-image: url(<%=url_for(@event.event_image.variant(resize_to_limit: [nil,200]))%>">
                                <div class="ticket-header-overlay">
                                    <span class="ticket-card-date"><%= @event.start_date.strftime("%a %d %b")%></span>
                                    <%= @event.start_date.strftime("%I:%M%p")%>
                                    <span class="ticket-card-label"><%= truncate(@event.title, length:25)%></span>
                                </div>
                            </div>
                        <div class="top-cutout"></div>
                        <div class="bottom-cutout"></div>
                        <div class="ticket-card-stub">
                            <%= qr_code(ticket.secret) %>
                        </div>
                    </div>
                    </label>

            <% end %>
    <% else %>
        No scheduled events.
    <% end %>

    
