<h1>Wallet</h1>


<h2>Scheduled / In-Progress</h2>
    <% if current_user.bought_tickets.exists?%>
        <div class="carousel">
            <% @tickets.each do |ticket| %>
                <%  @event = Event.find(ticket.event_id) %>
                <div class="carousel-cell">
                    <div class="ticket-card">
                        <a href="<%= event_path(ticket.event_id)%>">
                            <div class="ticket-card-header">
                                <span class="ticket-card-date"><%= @event.start_date.strftime("%a %d %b")%></span>
                                <span class="ticket-card-label"><%= truncate(@event.title, length:20)%></span>
                                <span class="ticket-card-details">Paid: $<%= @event.price.fdiv(100)%>
                                <br>Start Time:<%= @event.start_date.strftime("%I:%M%p")%>
                                <br>Ticket #<%= ticket.id %></span>
                            </div>
                        </a>
                        <div class="ticket-card-stub">
                            <%= qr_code(ticket.secret) %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        No scheduled events.
    <% end %>

    
