<div class="validation_table">
    <div class="validation_hero" style="background-image: url(<%=url_for(@event.event_image.variant(resize_to_limit: [600,nil]))%>"></div>
    <%= image_tag "tick.svg", class: "validation_icon", style: "background-color: #19FF83" %>
    <h1>Ticket Booked</h1>
    <div class="validation-info">
        <span class=validation-row-title><%= @event.title%></span>
        <span class=validation-row-location><%= @event_location%></span>
        <span class=validation-row-date><%= @event_date%></span>
        <span class=validation-row-time><%= @event_time%></span>
        <span class=validation-row>Ticket Price: $<%= @event.price%></span>
    </div>
    <div class="validation-footer">
        <span class=validation-name><%= "#{current_user.first_name} #{current_user.last_name}"%></span>
        <%= image_tag @is_over_18 ? "18.svg" : "not18.svg", class: "age_icon" %>
    </div>
</div>