<!DOCTYPE html>
<html>
  <head>
    <title>Shofo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%# <% if Rails.env.development? %>
        <%# <% console %>
      <%# <% end %>
    </main>
    <%= render 'shared/footer' %>
    <div class="burger-wrapper">
      <input type="checkbox" id="menyAvPaa">
      <label id="burger" for="menyAvPaa" tabindex="0">
        <div></div>
        <div></div>
        <div></div>
      </label>
      <div class="menu-overlay"></div>
        <%= render 'shared/menu' %>
      </div>
    </div>
  </body>
</html>